<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"><%= link_to 'Raporty', daily_reports_path %></a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @daily_report.report_date %></li>
  </ol>
</nav>
