<nav class="mb-3 navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to daily_reports_path, class: 'navbar-brand d-flex align-items-center' do %>
      <%# <img src="/favicon-32x32.png" alt="Logo" width="20" height="20" class="d-block me-2"> %>
      Silent Dose
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="mb-2 navbar-nav ms-auto mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Panel Użytkownika', admin_root_path , class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= button_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            Wyloguj
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>